@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&display=swap');
body{
    margin: 0;
    padding-bottom: 60px; 
}
h1,p{
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.388);
    text-transform:capitalize;
}
#discrip{
    box-shadow:5px 10px 15px #06889cb4;
    border-radius: 2%;
    background: #070130;
    background: linear-gradient(55deg, rgba(7, 1, 48, 1) 0%, rgba(13, 81, 110, 1) 50%, rgba(27, 102, 107, 1) 100%);
    color:white;
    float: left;
}
input:focus {
  background-color: rgba(144, 251, 255, 0.308);
  border:rgba(7, 1, 48,);
}
button:hover{
    background-color: rgb(11, 99, 114);
    border: none;
    color: aliceblue;
    transform: scale(1.2);
}
button::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("https://cdn0.iconfinder.com/data/icons/digital-marketing-179/32/search-128.png"); /* your image URL */
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 15px;
    vertical-align: middle;
}
p::before{
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("https://cdn3.iconfinder.com/data/icons/logos-brands-3/24/logo_brand_brands_logos_icloud-128.png"); /* your image URL */
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 15px;
    vertical-align: middle;
}
Header{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #070130;
    background: linear-gradient(55deg, rgba(7, 1, 48, 1) 0%, rgba(13, 81, 110, 1) 50%, rgba(27, 102, 107, 1) 100%);
    color:white;
    box-shadow:5px 10px 15px #06889cb4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
}
h1{
    padding-right: 20px;
    margin: 0;
    padding-left: 5px;
}
ol{
    display: flex;
    gap: 15px;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
}
nav li a {
    text-decoration: none;
    text-align: center;
    color: white;
    width: 100px;
    display: flexbox;
}
li:hover ,a:hover{
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
    transform: scale(1.2);
}
#About{
    padding: 15px;
    margin: 2px;
}
#display{
    flex: 1;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
}
img{
    height: auto;
    padding-top: 0;
}
#temp{
    font-size: 40px;
    margin-top: 0px;
    color: white;
}
#container {
  display:flex;
  flex-wrap: wrap; 
  gap: 10px;
  width: 100%;
}
footer{
    width: 100%;
    background: #070130;
    background: linear-gradient(55deg, rgba(7, 1, 48, 1) 0%, rgba(13, 81, 110, 1) 50%, rgba(27, 102, 107, 1) 100%);
    color:white;
    margin-top: auto;
    align-content: center;
    padding:0 5%;
    box-shadow: 0 -5px 10px 5px #06889cb4;    
    position:fixed; 
    bottom: 0;
}
#search{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
button:active{
    transform:scale(0.8) ;
}
li:active{
    transform:scale(0.8)
}
a:focus{
    background-color: rgb(1, 1, 64);
    color: aliceblue;
}
